---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog', ({ data }) => !data.draft).then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Blog'
  description="Expert insights on SEO, AEO, and AI's impact on search. Practical guides for web developers and small business owners navigating the future of search optimization."
  pageTitle='The Blog'
>
  <main class='bg-green p-6'>
    <BlogList posts={posts} />
  </main>
</Layout>