/* UnoCSS handles base styles through presetMini */

.card-shadow {
  filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
  transition: all;
  transition-duration: 0.5s;
  animation: ease-in-out;
}
.card-shadow:hover {
  filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
}

:root 
{  /* ---- ⚫️ Colors ⚪️ ---- */
  /* Base Tokens */
  --sys-color-white: #FFFFFF;
  --sys-color-black: #000000;

  /* Theme Tokens */
  --primary: var(--sys-color-white);
  --secondary: var(--sys-color-black);
}

html {
  scroll-behavior: smooth;
}
html strong {
  color: #000000;
}

:root {
  color: #0f172a;
}

a {
  color: inherit;
}

.bg-pink {
  background-color: #ffe7f2;
  color: #000;
}

.bg-green {
  background-color: #e0f5e5;
  color: #000;
}

.bg-purple {
  background-color: #efe7ff;
  color: #000;
}

.bg-blue {
  background-color: #dff1ff;
  color: #000;
}

::selection
{
  background-color: aliceblue;
}
